body {
  background-color: #37373f;
}

.main2__section {
  padding-top: 150px;
  background-color: #2d2d34;
  height: calc(300px);
  text-align: start;
}

.team {
  color: #fff;
  font-size: 60px;
  font-weight: normal;
  margin-left: 120px;
}

.team span {
  color: #b49c73;
  font-weight: bold;
}

.employer__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__emp {
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card__emp img {
  width: 40%;
  height: 120px;
  border-radius: 20px;
}

.name1 {
  color: #b49c73;
  font-size: 30px;
  margin-top: 10px;
}

.job1 {
  color: rgb(216, 208, 208);
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.desc1 {
  color: #777;
  font-size: 18px;
  line-height: 25px;
}
