body {
  background-color: #2d2d34 !important;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding-top: 100px;
  background-color: #2d2d34 !important;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #99999947;
  border-radius: 5px;
  font-size: 20px;
  background: transparent;
  outline: none;
  margin-bottom: 50px;
  margin-right: 40px;
  padding-bottom: 20px;
  border-radius: 0;
  color: #ffffffb8;
}

.contact-form textarea {
  height: 150px;
}


.contact-form .name-fields {
  display: flex;
}

.contact-form .name-fields input {
  flex: 1;
  margin-right: 10px;
}

/* تنسيق زر الإرسال */
.contact-form button {
  width: 200px;
  height: 50px;
  font-size: 15px !important;
  background-color: #b49c73;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0;
}

.contact-form button:hover {
  background-color: transparent;
  border: 1px solid #b49c73;
}

/* تنسيق النصوص داخل الفورم */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
}
/* تنسيق العنصر الرئيسي */
.main__section {
  padding-top: 150px;
  background-color: #2d2d34 !important;
  text-align: center;
}
