.expert__content {
  background: #ffffff;
  margin-left: 50px;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.icon__expert {
  margin-top: 20px;
  font-size: 60px;
  border-radius: 100%;
  padding: 10px;
  color: #fff;
  background: #b49c73;
}
.expert__content p {
  max-width: 97%;
  font-size: 16px;
  line-height: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media screen and (max-width: 474px) {
  .expert__content p {
    line-height: 30px;
    font-size: 12px;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 401px) {
  .expert__content {
    padding: 30px;
    width: 100%;
    margin-left: auto;
    transform: translateX(5%);
  }
  .expert__content p {
    line-height: 27px;
    font-size: 12px;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 350px) {
  .expert__content {
    padding: 20px;
    width: 100%;
    margin-left: auto;
    transform: translateX(5%);
    padding-top: 10px;
  }
  .expert__content p {
    line-height: 22px;
    font-size: 14px;
  }
}
@media screen and (min-width: 200px) {
  .expert__content {
    padding: 10px;
    width: 100%;
    margin-left: auto;
    transform: translateX(5%);
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .expert__content p {
    line-height: 18px;
    font-size: 12px;
    max-width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .expert__content {
    margin-right: 30px;
  }
}
