.main3__expert {
  background-color: #37373f;
  padding: 80px;
}
.experto h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 60px;
  font-weight: 100;
}
.experto h1 span {
  color: #b49c73;
  font-weight: bold;
}
/* 
 */
@media screen and (max-width: 985px) {
  .experto h1 {
    font-size: 30px;
    margin-left: 0;
    padding-left: 0;
  }
}
