.list__links {
  padding-top: 80px;
  line-height: 30px;
}
.social__link {
  font-size: 18px;
  color: #b49c73;
}
.item {
  width: fit-content;
  border-bottom: 3px solid #b49c7302;
  transition: 0.3s;
}

.active__item {
  color: #ffffff;
}
.item:hover {
  border-bottom: 3px solid #b49c73;
  .social__link {
    color: #ffffff;
  }
}
.contact__para {
  font-size: 16px;
  color: #ffffff81;
}
.social {
  margin-right: 10px;
  color: #b49c7377;
  font-size: 24px;
  transition: 0.3s;
}
.social:hover {
  color: #b49c73;
  cursor: pointer;
}
.item1 {
  margin-bottom: 20px;
}
.product {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  font-size: 16px;
  color: #ffffff;
}
.myName {
  color: #b49c73;
  font-weight: bold;
  padding-left: 5px;
}
