.service__content {
  padding: 25px;
  padding-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
.service__content p {
  max-width: 95%;
  color: #b2b2b8;
  font-size: 16px;
  margin-left: 65px;
  text-align: start;
}
.start__sec h2 {
  margin-left: 10px;
  font-size: 20px;
  color: #b49c73;
  align-self: center;
}
.icon__sec {
  background-color: #b2b2b8;
  color: rgba(240, 248, 255, 0.797);
  border-radius: 100%;
  font-size: 55px;
  padding: 10px;
}
